@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #4f46e5;
  --user-bubble-bg: #f5f7ff;
  --ai-bubble-bg: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-800 bg-gray-50 font-sans;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

